body{
  background-color:#6c6c6c;
}
h1{
  text-indent: 15px; 
}
.nav{
  background-color:white;
  overflow:hidden;
  color:#fd5f00;
}
.nav a{
  float:left;
  display:block;
  color:black;
  text-align:center;
  padding: 12px 14px;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
}
form{
  text-align:center;
  padding:20px;
}
.formsection{
  background-color:#a1a1a1;
}
button{
  background-color:#fd5f00;
  border:#2a2a2a;
  border-radius:5px;

}
.container-info{
    background-color:#6c6c6c;
    padding:20px;
    font-size:18px;
    text-align:left;
}
input{
  ;
}
.title-info{
  text-align:center;
  padding: 20px;
}
ul {
    list-style-position: inside;
}
@media screen and (max-width: 600px){
  .nav a:not(:first-child){display:none;}
}
